<% provide(:title, 'Search Workout Plans') %>
<div class="container-fluid" style="padding-left:0px;">
	<div class="row center">
		<h2  class="landing" style="font-weight:bold;">Workout Plans</h2>
		<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix center">
			<% @programs.each_with_index do |program, i| %>  
			<div class="box col3" style="overflow:hidden; padding:0; height:auto; border-radius:0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;">
				<a href="programs/<%=program.id %>" style="text-decoration: none;">
					<div style="height:182px; overflow:hidden; margin-top: -32px;">
						<p style="position:absolute; right:15px; top:10px; background: rgba(0, 0, 0, 0.4); color:white; padding-left:5px; padding-right:5px; font-weight: bold;"><%=program.time %> min<br>per day</p>
						<p style="position:absolute; left:0px; top:0px; background-color: #009ddd; color:white; padding:5px; font-weight:bold; font-size: 18px; margin:0px;"><%= program.weeks %> weeks</p>  
						<img src="http://img.youtube.com/vi/<%=@programs[i].videos[0].tubeid %>/0.jpg" height="480" width="640">
					</div>
					<ul class="nav nav-pills nav-stacked" style="text-align:left; color: white; padding: 5px; font-size:13px; background: rgba(0,0,0, 0.87); margin-top: 0px; margin-bottom:0px; font-weight: bold;">  
						<li>Goal : <%=program.goal%></li>
					</ul>
				</a>
			</div>
			<% end %>
			
		</div>
	</div>
</div>