<footer class="footer">
  <%= render 'layouts/ga' %>
  
  <nav>
    <ul class="inline" id="footer">
      <li><%= link_to "For Trainers",   'http://www.fitcasts.com/contact' %></li>
      <li><%= link_to "Blog",   'http://blog.fitcasts.com' %></li>
      <li><%= link_to "About",   'http://fitcasts.com/about' %></li>
      <li><%= link_to "Terms of Agreement", 'http://fitcasts.com/terms' %></li>

      <li> <a style="padding: 10px 0px 0px;" href="https://www.facebook.com/fitcasts" alt="team"><img height="22" width="22" src="/images/icons/flat-icons/facebook.png" alt="team"></a> </li>  
      <li><a style="padding: 10px 0px 0px;" href="http://blog.fitcasts.com/" alt="team"><img height="22" width="22" src="/images/icons/flat-icons/tumblr.png" alt="team"></a></li>  
      <li><a style="padding:10px 0px 0px;" href="https://twitter.com/fit_casts" alt="team"><img height="22" width="22" src="/images/icons/flat-icons/twitter.png" alt="team"></a></li> 
    </ul>
  </nav>
</footer>